Animations/*
!.gitkeep

Animations/*
!.gitkeep

Editor/*
!.gitkeep

Fonts/*
!.gitkeep

Materials/*
!.gitkeep

Physics Materials/*
!.gitkeep

Plugins/*
!.gitkeep

Prefabs/*
!.gitkeep

Resources/*
!.gitkeep

Scenes/*
!.gitkeep

Scripts/*
!.gitkeep

Textures/*
!.gitkeep
